

header{
    padding: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
    background-color: rgb(0 0 0 / 4%);
}
.products{
    padding-top:30px;
    background-color: azure;
}
.product-filter{
    margin-bottom: 50px;
}
.card{
    padding-left: 20px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    background: none;
    overflow: hidden;
    background-color: transparent;
}

.card-header{
    background-color: rgb(234, 245, 240) ;
}
.card-body{
    background-color: white;
}
.card-body img{
    width: 100%;
    height: 200px;
    
}
.card-content{
  background-color: rgb(234, 245, 240);
  padding: 20px;
  height: 200px;
  overflow: hidden ;

}
#cart-button{
    position: fixed;
    right: 3rem;
    top: 2rem;
    color: rgb(5, 5, 22);
    height: 40px;
    
}
.card-footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
#showcart{
    position: fixed;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(248, 249, 250);
    border-color: rgb(248, 249, 250);
    padding: 10px;
    right: 20px;
    top: 75px;
    text-align: center ;
}
#priceTotal{
    text-align: right;
    background-color: aquamarine;
    margin-bottom: 40px;
    padding: 20px;
}
.item-cart{
    text-align: center;
}
.item-cart img{
    height: 40px;
}

.callout {
    position: absolute;
    top: 0;
    right: 0;
}

.cartAmount {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: rgb(248, 249, 250);
    color: black;
    border-radius: 50%;
    border: 1px solid rgb(248, 249, 250);
    text-align: center;
    line-height: 1rem;
    font-weight: 600;
    top: 0;
    right: 0;
    user-select: none;
}